.list1V21 {
  position: absolute;
  display: flex;
  left: 0px;
  top: 1064px;
  flex-direction: column;
  align-items: flex-start;
  height: 202px;
}
.empty1 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  width: 750px;
  height: 122px;
}
.header2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 750px;
  height: 80px;
  padding-left: 30px;
  padding-right: 31px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.container5 {
  display: flex;
  align-items: center;
  margin-top: 18px;
}
.wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}
.title1 {
  position: relative;
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
  color: #212223;
  white-space: nowrap;
}
.horizontalLine {
  position: relative;
  overflow: hidden;
  width: 28px;
  height: 6px;
  margin-top: 1px;
  background-color: #bd974c;
  border-radius: 3px;
}
.captionWrapper1 {
  display: flex;
  align-items: flex-start;
  margin-top: -7px;
  font-weight: 500;
  line-height: 45px;
  white-space: nowrap;
}
.caption1 {
  font-size: 32px;
  color: #7f7f7f;
}
.titleWrapper1 {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  line-height: 40px;
  white-space: nowrap;
}
.title2 {
  font-size: 28px;
  color: #4d4d4d;
}
.body2 {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 26px;
}
.grid {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.colItem0 {
  margin-right: 10px;
}
.empty2 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  width: 320px;
  height: 106px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #bd974c;
}
.group2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -1px;
}
.captionWrapper2 {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  line-height: 37px;
  white-space: pre;
}
.caption2 {
  font-size: 26px;
  color: #bd974c;
}
.infoWrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 3px;
  line-height: 33px;
  white-space: nowrap;
}
.info {
  overflow: hidden;
  font-size: 24px;
  color: #bd974c;
  text-overflow: ellipsis;
}
.colItem1 {
  margin-right: 10px;
}
.empty3 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  width: 320px;
  height: 106px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(158, 158, 158, 0.6);
}
.group3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -1px;
}
.titleWrapper2 {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  line-height: 37px;
  white-space: pre;
}
.title3 {
  font-size: 26px;
  color: #000000;
}
.metaWrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 3px;
  line-height: 33px;
  white-space: nowrap;
}
.meta {
  overflow: hidden;
  font-size: 24px;
  color: #212223;
  text-overflow: ellipsis;
}
.container6 {
  top: 0px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(158, 158, 158, 0.6);
}
.container7 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.captionWrapper3 {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  line-height: 37px;
  white-space: pre;
}
.caption3 {
  font-size: 26px;
  color: #000000;
}
.subtitleWrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 3px;
  line-height: 33px;
  white-space: nowrap;
}
.subtitle {
  overflow: hidden;
  font-size: 24px;
  color: #212223;
  text-overflow: ellipsis;
}
