.list1V3 {
  position: absolute;
  display: flex;
  left: 0px;
  top: 1266px;
  flex-direction: column;
  align-items: flex-start;
  height: 374px;
}
.layer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  width: 750px;
  height: 294px;
  background-color: #ffffff;
}
.header3 {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 30px;
  padding-right: 592px;
  background-color: #ffffff;
  font-weight: 500;
  line-height: 45px;
  white-space: nowrap;
  box-sizing: border-box;
}
.titleWrapper3 {
  display: flex;
  align-items: flex-start;
  margin-top: 1px;
}
.title4 {
  font-size: 32px;
  color: #212223;
}
.body3 {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 26px;
}
.containerItem01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.wrapper8 {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.entryPic {
  position: relative;
  width: 264px;
  height: 176px;
}
.wordWrapper {
  position: absolute;
  display: flex;
  right: 9px;
  bottom: 10px;
  align-items: flex-start;
  line-height: 28px;
  white-space: nowrap;
}
.word {
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.30196078431372547);
}
.captionWrapper4 {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
  line-height: 40px;
}
.caption4 {
  display: -webkit-inline-box;
  overflow: hidden;
  width: 252px;
  height: 80px;
  font-size: 28px;
  color: #212223;
  text-overflow: ellipsis;
  webkit-box-orient: vertical;
  webkit-line-clamp: 2;
}
.containerItem11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.wrapper9 {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.entryPic1 {
  position: relative;
  width: 264px;
  height: 176px;
}
.tagWrapper1 {
  position: absolute;
  display: flex;
  right: 9px;
  bottom: 10px;
  align-items: flex-start;
  line-height: 28px;
  white-space: nowrap;
}
.tag3 {
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.30196078431372547);
}
.titleWrapper4 {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
  line-height: 40px;
}
.title5 {
  display: -webkit-inline-box;
  overflow: hidden;
  width: 252px;
  height: 80px;
  font-size: 28px;
  color: #212223;
  text-overflow: ellipsis;
  webkit-box-orient: vertical;
  webkit-line-clamp: 2;
}
.containerItem21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 256px;
}
.itemWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.item {
  width: 176px;
  height: 176px;
}
.captionWrapper5 {
  position: relative;
  display: flex;
  align-items: flex-start;
  align-self: center;
  margin-top: 8px;
  line-height: 40px;
}
.caption5 {
  display: -webkit-inline-box;
  overflow: hidden;
  width: 252px;
  height: 80px;
  font-size: 28px;
  color: #212223;
  text-overflow: ellipsis;
  webkit-box-orient: vertical;
  webkit-line-clamp: 2;
}
