.list1V3 {
  position: absolute;
  display: flex;
  left: 0;
  top: 79.13rem;
  flex-direction: column;
  align-items: flex-start;
  height: 23.38rem;
}
.layer {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 46.88rem;
  height: 18.38rem;
  background-color: #ffffff;
}
.header3 {
  position: relative;
  display: flex;
  align-items: center;
  height: 5rem;
  padding-left: 1.88rem;
  padding-right: 37rem;
  background-color: #ffffff;
  font-weight: 500;
  line-height: 2.81rem;
  white-space: nowrap;
  box-sizing: border-box;
}
.titleWrapper3 {
  display: flex;
  align-items: flex-start;
  margin-top: 0.06rem;
}
.title4 {
  font-size: 2rem;
  color: #212223;
}
.body3 {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 1.63rem;
}
.containerItem01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.63rem;
}
.wrapper8 {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.entryPic {
  position: relative;
  width: 16.5rem;
  height: 11rem;
}
.wordWrapper {
  position: absolute;
  display: flex;
  right: 0.56rem;
  bottom: 0.63rem;
  align-items: flex-start;
  line-height: 1.75rem;
  white-space: nowrap;
}
.word {
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 0 0.13rem 0.13rem rgba(0, 0, 0, 0.30196078431372547);
}
.captionWrapper4 {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
  line-height: 2.5rem;
}
.caption4 {
  display: -webkit-inline-box;
  overflow: hidden;
  width: 15.75rem;
  height: 5rem;
  font-size: 1.75rem;
  color: #212223;
  text-overflow: ellipsis;
  webkit-box-orient: vertical;
  webkit-line-clamp: 2;
}
.containerItem11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.63rem;
}
.wrapper9 {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.entryPic1 {
  position: relative;
  width: 16.5rem;
  height: 11rem;
}
.tagWrapper1 {
  position: absolute;
  display: flex;
  right: 0.56rem;
  bottom: 0.63rem;
  align-items: flex-start;
  line-height: 1.75rem;
  white-space: nowrap;
}
.tag3 {
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 0 0.13rem 0.13rem rgba(0, 0, 0, 0.30196078431372547);
}
.titleWrapper4 {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
  line-height: 2.5rem;
}
.title5 {
  display: -webkit-inline-box;
  overflow: hidden;
  width: 15.75rem;
  height: 5rem;
  font-size: 1.75rem;
  color: #212223;
  text-overflow: ellipsis;
  webkit-box-orient: vertical;
  webkit-line-clamp: 2;
}
.containerItem21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 16rem;
}
.itemWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.item {
  width: 11rem;
  height: 11rem;
}
.captionWrapper5 {
  position: relative;
  display: flex;
  align-items: flex-start;
  align-self: center;
  margin-top: 0.5rem;
  line-height: 2.5rem;
}
.caption5 {
  display: -webkit-inline-box;
  overflow: hidden;
  width: 15.75rem;
  height: 5rem;
  font-size: 1.75rem;
  color: #212223;
  text-overflow: ellipsis;
  webkit-box-orient: vertical;
  webkit-line-clamp: 2;
}
