.list3V1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 578px;
}
.header4 {
  position: relative;
  display: flex;
  align-items: center;
  width: 750px;
  height: 80px;
  background-color: #ffffff;
  font-weight: 500;
  line-height: 45px;
  white-space: nowrap;
}
.container8 {
  display: flex;
  align-items: flex-start;
  margin-top: 1px;
  margin-left: 30px;
}
.more {
  font-size: 32px;
  color: #212223;
}
.body4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rowItem0 {
}
.wrapper10 {
  position: absolute;
  display: flex;
  left: 0px;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  background-color: #ffffff;
}
.empty4 {
  width: 30px;
  height: 196px;
}
.group4 {
  display: flex;
  align-items: flex-start;
  width: 30px;
}
.empty5 {
  width: 690px;
  height: 1px;
  margin-top: 195px;
  margin-left: -690px;
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
}
.wrapper11 {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-right: 18px;
}
.entryPic2 {
  position: relative;
  width: 264px;
  height: 148px;
}
.label1 {
  position: absolute;
  right: 16px;
  bottom: 11px;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  white-space: nowrap;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.30196078431372547);
}
.wrapper12 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2px;
}
.group5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6px;
  white-space: nowrap;
}
.titleWrapper5 {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  line-height: 42px;
}
.title6 {
  overflow: hidden;
  font-size: 30px;
  color: #212223;
  text-overflow: ellipsis;
}
.captionWrapper6 {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
  line-height: 40px;
}
.caption6 {
  overflow: hidden;
  font-size: 28px;
  color: #4d4d4d;
  text-overflow: ellipsis;
}
.group6 {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.iconPlayWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 8px;
}
.iconPlay {
  width: 32px;
  height: 32px;
}
.wordWrapper1 {
  display: flex;
  align-items: flex-start;
  margin-top: -2px;
  line-height: 30px;
  white-space: nowrap;
}
.word1 {
  font-size: 22px;
  color: #9e9e9e;
}
.rowItem1 {
}
.wrapper13 {
  position: absolute;
  display: flex;
  left: 0px;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  background-color: #ffffff;
}
.empty6 {
  width: 30px;
  height: 196px;
}
.group7 {
  display: flex;
  align-items: flex-start;
  width: 30px;
}
.empty7 {
  width: 690px;
  height: 1px;
  margin-top: 195px;
  margin-left: -690px;
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
}
.wrapper14 {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-right: 18px;
}
.entryPic3 {
  position: relative;
  width: 264px;
  height: 148px;
}
.tag4 {
  position: absolute;
  right: 16px;
  bottom: 11px;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  white-space: nowrap;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.30196078431372547);
}
.wrapper15 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2px;
}
.group8 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6px;
  white-space: nowrap;
}
.titleWrapper6 {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  line-height: 42px;
}
.title7 {
  overflow: hidden;
  font-size: 30px;
  color: #212223;
  text-overflow: ellipsis;
}
.captionWrapper7 {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
  line-height: 40px;
}
.caption7 {
  overflow: hidden;
  font-size: 28px;
  color: #4d4d4d;
  text-overflow: ellipsis;
}
.group9 {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.iconPlayWrapper1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 8px;
}
.iconPlay1 {
  width: 32px;
  height: 32px;
}
.labelWrapper1 {
  display: flex;
  align-items: flex-start;
  margin-top: -2px;
  line-height: 30px;
  white-space: nowrap;
}
.label2 {
  font-size: 22px;
  color: #9e9e9e;
}
.rowItem2 {
}
.wrapper16 {
  position: absolute;
  display: flex;
  left: 0px;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  background-color: #ffffff;
}
.empty8 {
  width: 30px;
  height: 196px;
}
.group10 {
  display: flex;
  align-items: flex-start;
  width: 30px;
}
.empty9 {
  width: 690px;
  height: 1px;
  margin-top: 195px;
  margin-left: -690px;
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
}
.wrapper17 {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-right: 18px;
}
.entryPic4 {
  position: relative;
  width: 264px;
  height: 148px;
}
.word2 {
  position: absolute;
  right: 16px;
  bottom: 11px;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  white-space: nowrap;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.30196078431372547);
}
.wrapper18 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2px;
}
.group11 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6px;
  white-space: nowrap;
}
.titleWrapper7 {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  line-height: 42px;
}
.title8 {
  overflow: hidden;
  font-size: 30px;
  color: #212223;
  text-overflow: ellipsis;
}
.captionWrapper8 {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
  line-height: 40px;
}
.caption8 {
  overflow: hidden;
  font-size: 28px;
  color: #4d4d4d;
  text-overflow: ellipsis;
}
.group12 {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.iconPlayWrapper2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 8px;
}
.iconPlay2 {
  width: 32px;
  height: 32px;
}
.tagWrapper2 {
  display: flex;
  align-items: flex-start;
  margin-top: -2px;
  line-height: 30px;
  white-space: nowrap;
}
.tag5 {
  font-size: 22px;
  color: #9e9e9e;
}
